{
    "extends": [
      "@nuxtjs",
      "eslint:recommended"
    ],
    "rules": {
      "no-tabs": 0,
	  "eol-last": ["error", "never"],
      "indent": [
        "error",
        "tab"
    ]
    }
  }